

<main class="contents">
	<h4>EJS 는 <br><%= title%>의 템플릿 모듈입니다.</h4>
	<ul>
		<li>Control flow with <code>&lt;% %&gt;</code></li>
		<li>Escaped output with <code>&lt;%= %&gt;</code></li>
		<li>Unescaped raw output with <code>&lt;%- %&gt;</code></li>
		<li>Newline-trim mode ('newline slurping') with <code>-%&gt;</code> ending tag</li>
		<li>Whitespace-trim mode (slurp all whitespace) for control flow with <code>&lt;%_ _%&gt;</code></li>
		<li>Custom delimiters (e.g., use '' instead of '&lt;% %&gt;')</li>
		<li>Includes</li>
		<li>Client-side support</li>
		<li>Static caching of intermediate JavaScript</li>
		<li>Static caching of templates</li>
		<li>Complies with the <a href="http://expressjs.com">Express</a> view system</li>
	</ul>
</main>
